In [164]:
import pandas as pd
import numpy as np

In [165]:
df = pd.read_csv("C:/Users/Suyash/OneDrive/Documents/creditcard.csv")
df.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [166]:
##Checking the shape of the dataset

In [167]:
df.shape

(284807, 31)

In [168]:
# Check for null values

In [169]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [170]:
# Descriptive statistics of the dataset

In [171]:
df.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.168375e-15,3.416908e-16,-1.379537e-15,2.074095e-15,9.604066e-16,1.487313e-15,-5.556467e-16,1.213481e-16,-2.406331e-15,...,1.654067e-16,-3.568593e-16,2.578648e-16,4.473266e-15,5.340915e-16,1.683437e-15,-3.660091e-16,-1.227390e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [172]:

#Key Takeaways:
# 1. Class Imbalance: Only 0.17% of transactions are fraudulent, requiring techniques like oversampling or undersampling to address the imbalance.
# 2. Transaction Amounts: The Amount feature is highly skewed with a median of $22 and a maximum of $25,691, suggesting the need for scaling or transformation.
# 3. PCA Features: V1 to V28 are standardized with means near 0 but exhibit wide ranges, indicating potential outliers or significant variation.
# 4. Time: Transactions span about two days, but Time does not directly correlate with fraud.

In [173]:
# DATA CLEANING

In [174]:
missing_values = df.isnull().sum()

# Filtering to show only columns with missing values, if any
columns_with_missing_values = missing_values[missing_values > 0]
columns_with_missing_values

Series([], dtype: int64)

In [175]:
print(df.columns.tolist())

['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount', 'Class']

In [176]:
# Handling Null Values:

#For this dataset, there is no need to fill any missing values as there are no null values present. However, in cases where null values are found, several methods can be used to handle them effectively:

# 1. Dropping Null Values:
# dropna(axis=0): Removes rows with null values.
# dropna(axis=1): Removes columns with null values.

# 2.Filling Null Values with a Specific Value:
#fillna(value): Replaces all null values with a specified value such as 0, a constant, or any other value.

# 3. Filling Nulls with Statistical Measures (e.g., Mean, Median):
# fillna(df.mean()): Fills null values with the mean of the respective column.
# fillna(df.median()): Fills null values with the median of the respective column.

In [177]:
# Column Names:

# There is no need to change the names of the columns in this dataset as they are already appropriately labeled. However, if you need to rename columns, you can use the rename() function:

# df.rename(columns={'old_name': 'new_name'}): Renames specified columns, where 'old_name' is the current column name and 'new_name' is the desired new name.

In [178]:
# Data Transformation

In [179]:
df['NormalizedAmount'] = (df['Amount'] - df['Amount'].mean()) / df['Amount'].std()
print(df)

            Time         V1         V2        V3        V4        V5  \
0            0.0  -1.359807  -0.072781  2.536347  1.378155 -0.338321
1            0.0   1.191857   0.266151  0.166480  0.448154  0.060018
2            1.0  -1.358354  -1.340163  1.773209  0.379780 -0.503198
3            1.0  -0.966272  -0.185226  1.792993 -0.863291 -0.010309
4            2.0  -1.158233   0.877737  1.548718  0.403034 -0.407193
...          ...        ...        ...       ...       ...       ...
284802  172786.0 -11.881118  10.071785 -9.834783 -2.066656 -5.364473
284803  172787.0  -0.732789  -0.055080  2.035030 -0.738589  0.868229
284804  172788.0   1.919565  -0.301254 -3.249640 -0.557828  2.630515
284805  172788.0  -0.240440   0.530483  0.702510  0.689799 -0.377961
284806  172792.0  -0.533413  -0.189733  0.703337 -0.506271 -0.012546

              V6        V7        V8        V9  ...       V22       V23  \
0       0.462388  0.239599  0.098698  0.363787  ...  0.277838 -0.110474
1      -0.082361 -0.078803  0.085102 -0.255425  ... -0.638672  0.101288
2       1.800499  0.791461  0.247676 -1.514654  ...  0.771679  0.909412
3       1.247203  0.237609  0.377436 -1.387024  ...  0.005274 -0.190321
4       0.095921  0.592941 -0.270533  0.817739  ...  0.798278 -0.137458
...          ...       ...       ...       ...  ...       ...       ...
284802 -2.606837 -4.918215  7.305334  1.914428  ...  0.111864  1.014480
284803  1.058415  0.024330  0.294869  0.584800  ...  0.924384  0.012463
284804  3.031260 -0.296827  0.708417  0.432454  ...  0.578229 -0.037501
284805  0.623708 -0.686180  0.679145  0.392087  ...  0.800049 -0.163298
284806 -0.649617  1.577006 -0.414650  0.486180  ...  0.643078  0.376777

             V24       V25       V26       V27       V28  Amount  Class  \
0       0.066928  0.128539 -0.189115  0.133558 -0.021053  149.62      0
1      -0.339846  0.167170  0.125895 -0.008983  0.014724    2.69      0
2      -0.689281 -0.327642 -0.139097 -0.055353 -0.059752  378.66      0
3      -1.175575  0.647376 -0.221929  0.062723  0.061458  123.50      0
4       0.141267 -0.206010  0.502292  0.219422  0.215153   69.99      0
...          ...       ...       ...       ...       ...     ...    ...
284802 -0.509348  1.436807  0.250034  0.943651  0.823731    0.77      0
284803 -1.016226 -0.606624 -0.395255  0.068472 -0.053527   24.79      0
284804  0.640134  0.265745 -0.087371  0.004455 -0.026561   67.88      0
284805  0.123205 -0.569159  0.546668  0.108821  0.104533   10.00      0
284806  0.008797 -0.473649 -0.818267 -0.002415  0.013649  217.00      0

        NormalizedAmount
0               0.244964
1              -0.342474
2               1.160684
3               0.140534
4              -0.073403
...                  ...
284802         -0.350150
284803         -0.254116
284804         -0.081839
284805         -0.313248
284806          0.514354

[284807 rows x 32 columns]

In [180]:
# Mathematical Transformation

In [181]:
df['AmountLog'] = np.log(df['Amount'] + 1)
print(df)

            Time         V1         V2        V3        V4        V5  \
0            0.0  -1.359807  -0.072781  2.536347  1.378155 -0.338321
1            0.0   1.191857   0.266151  0.166480  0.448154  0.060018
2            1.0  -1.358354  -1.340163  1.773209  0.379780 -0.503198
3            1.0  -0.966272  -0.185226  1.792993 -0.863291 -0.010309
4            2.0  -1.158233   0.877737  1.548718  0.403034 -0.407193
...          ...        ...        ...       ...       ...       ...
284802  172786.0 -11.881118  10.071785 -9.834783 -2.066656 -5.364473
284803  172787.0  -0.732789  -0.055080  2.035030 -0.738589  0.868229
284804  172788.0   1.919565  -0.301254 -3.249640 -0.557828  2.630515
284805  172788.0  -0.240440   0.530483  0.702510  0.689799 -0.377961
284806  172792.0  -0.533413  -0.189733  0.703337 -0.506271 -0.012546

              V6        V7        V8        V9  ...       V23       V24  \
0       0.462388  0.239599  0.098698  0.363787  ... -0.110474  0.066928
1      -0.082361 -0.078803  0.085102 -0.255425  ...  0.101288 -0.339846
2       1.800499  0.791461  0.247676 -1.514654  ...  0.909412 -0.689281
3       1.247203  0.237609  0.377436 -1.387024  ... -0.190321 -1.175575
4       0.095921  0.592941 -0.270533  0.817739  ... -0.137458  0.141267
...          ...       ...       ...       ...  ...       ...       ...
284802 -2.606837 -4.918215  7.305334  1.914428  ...  1.014480 -0.509348
284803  1.058415  0.024330  0.294869  0.584800  ...  0.012463 -1.016226
284804  3.031260 -0.296827  0.708417  0.432454  ... -0.037501  0.640134
284805  0.623708 -0.686180  0.679145  0.392087  ... -0.163298  0.123205
284806 -0.649617  1.577006 -0.414650  0.486180  ...  0.376777  0.008797

             V25       V26       V27       V28  Amount  Class  \
0       0.128539 -0.189115  0.133558 -0.021053  149.62      0
1       0.167170  0.125895 -0.008983  0.014724    2.69      0
2      -0.327642 -0.139097 -0.055353 -0.059752  378.66      0
3       0.647376 -0.221929  0.062723  0.061458  123.50      0
4      -0.206010  0.502292  0.219422  0.215153   69.99      0
...          ...       ...       ...       ...     ...    ...
284802  1.436807  0.250034  0.943651  0.823731    0.77      0
284803 -0.606624 -0.395255  0.068472 -0.053527   24.79      0
284804  0.265745 -0.087371  0.004455 -0.026561   67.88      0
284805 -0.569159  0.546668  0.108821  0.104533   10.00      0
284806 -0.473649 -0.818267 -0.002415  0.013649  217.00      0

        NormalizedAmount  AmountLog
0               0.244964   5.014760
1              -0.342474   1.305626
2               1.160684   5.939276
3               0.140534   4.824306
4              -0.073403   4.262539
...                  ...        ...
284802         -0.350150   0.570980
284803         -0.254116   3.249987
284804         -0.081839   4.232366
284805         -0.313248   2.397895
284806          0.514354   5.384495

[284807 rows x 33 columns]

In [182]:
# "Adding a new column 'Fraud' where 99% of transactions are labeled as True Positive (1) and the remaining as False Positive (0), based on the reviewer's assessment."

In [183]:
df['Fraud'] = np.random.choice([0, 1], size=len(df), p=[0.99, 0.01])

In [184]:
#File Conversion:

In [185]:
df.to_parquet('transformed_data.parquet')

In [186]:
# SQL querying

In [187]:
import pandas as pd
import numpy as np
import sqlite3

In [188]:
df.head(10)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V24,V25,V26,V27,V28,Amount,Class,NormalizedAmount,AmountLog,Fraud
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0,0.244964,5.014760,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0,-0.342474,1.305626,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0,1.160684,5.939276,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0,0.140534,4.824306,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0,-0.073403,4.262539,0
5,2.0,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,...,-0.371427,-0.232794,0.105915,0.253844,0.081080,3.67,0,-0.338556,1.541159,0
6,4.0,1.229658,0.141004,0.045371,1.202613,0.191881,0.272708,-0.005159,0.081213,0.464960,...,-0.780055,0.750137,-0.257237,0.034507,0.005168,4.99,0,-0.333278,1.790091,0
7,7.0,-0.644269,1.417964,1.074380,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,...,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,40.80,0,-0.190107,3.732896,0
8,7.0,-0.894286,0.286157,-0.113192,-0.271526,2.669599,3.721818,0.370145,0.851084,-0.392048,...,1.011592,0.373205,-0.384157,0.011747,0.142404,93.20,0,0.019392,4.545420,0
9,9.0,-0.338262,1.119593,1.044367,-0.222187,0.499361,-0.246761,0.651583,0.069539,-0.736727,...,-0.385050,-0.069733,0.094199,0.246219,0.083076,3.68,0,-0.338516,1.543298,0

In [189]:
conn = sqlite3.connect(':memory:')

In [190]:
df.to_sql('transformed_data', conn, index=False, if_exists='replace')

284807

In [191]:
query1 = """
SELECT AVG(NormalizedAmount) AS avg_normalized_amount_fraudulent
FROM transformed_data
WHERE Fraud = 1;
"""
result1 = pd.read_sql_query(query1, conn)

In [192]:
query2 = """
SELECT MAX(NormalizedAmount) AS max_normalized_amount_non_fraudulent
FROM transformed_data
WHERE Fraud = 0;
"""
result2 = pd.read_sql_query(query2, conn)

In [193]:
query3 = """
SELECT 
    Fraud, 
    AVG(AmountLog) AS avg_amount_log
FROM transformed_data
GROUP BY Fraud;
"""
result3 = pd.read_sql_query(query3, conn)

In [194]:
print("Average Normalized Amount in Fraudulent Transactions:")
print(result1)
print("\nMaximum Normalized Amount in Non-Fraudulent Transactions:")
print(result2)
print("\nAverage AmountLog for Fraudulent and Non-Fraudulent Transactions:")
print(result3)

Average Normalized Amount in Fraudulent Transactions:
   avg_normalized_amount_fraudulent
0                         -0.009787

Maximum Normalized Amount in Non-Fraudulent Transactions:
   max_normalized_amount_non_fraudulent
0                            102.362063

Average AmountLog for Fraudulent and Non-Fraudulent Transactions:
   Fraud  avg_amount_log
0      0        3.152013
1      1        3.169465

In [195]:
conn.close()